html,
body {
  margin: 0;
  background-color: black;
}
.mainContainer {
  display: flex;
  justify-content: center;
}
.webgl {
  position: fixed;
}
.topContainer {
  margin-top: 400px;
  width: 70%;
  height: 400px;
  background-color: #fbf2c0;
  border-radius: 15px;
  box-shadow: 0px 0px 25px -10px #54494b;
}
.title {
  font-size: 80px;
  color: black;
  text-align: right;
  margin: 20px;
}
